@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:700);


h1{
    display: block;
}
html, body{
    margin:0px;
}
.header-title {
    padding: 0;
    top: 0;
    font-family: 'Josefin Slab', serif;
    font-size:12vw;
    position:relative;
    text-align: center;
}
.header-title{
    margin-top: 20px;
}
.header-title span {
  display: block;
}
.header-title .bottom {
  color: #fff;
  background: rgba(12,236,12,0.5);
  padding: 15px 0 0 15px;
}
.header h2 span{
  display: inline-block;
  clear: right;
  width: 100%;
  font-family: "arial";
  font-size: 2vw;
  color: #000;
  text-align: center;
  
  
  z-index: 3;
  opacity: 0.5;
}

