@import url(http://fonts.googleapis.com/css?family=Berkshire+Swash);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import "bourbon/bourbon";

$shade: #6a7d9d;


.secoes{
    min-height: 600px;
    min-width: 100%;
    display: inline-block;
}

#jar-preamble {
    background-color: #bbb;
    h3 span{
  color:#dbd5c5;
  text-align:center;
  font-family:'Graduate', sans-serif;
  text-transform:uppercase;
  font-size:2em;
  letter-spacing:0.1em;
  $outlineAmt: 2px;
  //margin:1em 0 1em;
  //text shadow is position then thickness
  text-shadow:
    -2px -2px 0 #333,
    2px -2px 0 #333,
    -2px 2px 0 #333,
    2px 2px 0 #333,
    .040em .025em #333, //black
    .070em .055em $shade; //blue
    }
}

$back-summary: #0ea9a5;

#jar-summary{
    background: url("../public/images/back-summary.png") no-repeat right;
    background-color: $back-summary;
}
#jar-summary {
    .p1:before
    {
        display: inline-block;
        font-family:'Graduate', sans-serif;
        color: #fff;
        width: 100vw;
        content: "Introdução";
        font-size: 10em;
    }
    .p1
    {
        span
        {
            padding: 20px 0 20px 20px;
            
            width: 500px;
            border-radius: 5px;
            text-align: center;
            display: inline-block;
            font-family: 'Berkshire Swash',arial;
            font-size: 2em;
            background-color: #47fefa;
            margin-top: 100px;
        }
    }
    .p2
    {
        display: none;
    }
}

#jar-preamble
{
    background: url(../public/images/back-preamble.png) no-repeat left;
    background-color: #bd2121;
    color: #fff;
    
}

#jar-explanation
{
    background-color: #af4aaa;
}

#jar-participation
{
    background-color: #f6a101;
}

#jar-benefits
{
    background-color: #7b92ff;
}
#jar-requirements
{
    background: url(../public/images/back-requirements.png) no-repeat left;
    background-color: #56c872;
    opacity: 0.8;
    color: #fff;
    h3 {
        font-size: 4em;
        font-family: 'PT Sans Narrow', sans-serif;
        
        display: inline-block;
        
    }
    p{
        display: none;
        width: 500px;
        text-align: justify;
        padding-right: 100px;
        float: right;
        font-size: 2em;
        font-family: 'Pacifico', cursive;
    }
    p:nth-child(2){
        display: block !important;
    }
    .display-list{
        width: 50px;
        display: inline-block;
        margin: 100px auto 0 100px;    
        .show{
            margin-bottom: 20px;
            color: #fff;
            text-align: center;
            
            display: block;
            
            height: 50px;
            background-color: #000;
            border-radius: 50%;
        
            &:hover{
                background-color: #4ec3c8;
                cursor: pointer;
                
            }
        }
    }
    
}

#jar-selection{
    background-color: #56c4c8;
    
    
}

